set es_enableCustomData 1
set mysql_connection_string "server=127.0.0.1;database=vrpfx;userid=root;password=" 
endpoint_add_tcp "0.0.0.0:30120" 
endpoint_add_udp "0.0.0.0:30120" 

exec server_resources.cfg

set servernumber "1"

sv_scriptHookAllowed 0

sv_hostname "^0[DK] ^5Back^4sideRP | ^4Tokovoip | ^4Åbent hus |^8MultiKarakter | ^6 2 mil start"

# convars for use from script
set temp_convar "hey world!"

# hide player endpoints in external log output
sv_endpointprivacy true

#server logo
load_server_icon logo.png

# server slots limit (default to 32)
sv_maxclients 40

# license key for server (https://keymaster.fivem.net)
sv_licenseKey "qljuwu9t9d8o13eh2e3wfou3bb0och0t"
set steam_webApiKey "1C6AA36445D901FF63D1330FDCA41124"

# disable announcing? clear out the master by uncommenting this
 #sv_master1 ""

set onesync_workaround763185 true

sets locale "da-DK"

add_ace resource.uptime command.sets allow

#set ac_webhook "https://discordapp.com/api/webhooks/692446976666501312/jVB56c1Mip-gp7ZQZ1p-Q8CnXvqSnUTW1sqDc2nYkAVCjzD68fWTH3ISPNKzIgDkj77h"

sets tags "Dansk Community, RP, Dansk RP, DK, BacksideRP, Backside, roleplay, Onesync, tokovoip"
sets Discord "discord.gg/t4HBpRv"
sets Hjemmeside "https://sites.google.com/view/backside-roleplay/forside?authuser=0"
sets Aldersgrænse ""

sets banner_detail "https://cdn.discordapp.com/attachments/770294499598794775/770393651494649866/Hej.png"
sets banner_connecting "https://cdn.discordapp.com/attachments/770294499598794775/770393264196157460/Forbinder.png"

add_ace group.admin command allow
add_principal identifier. group.admin #Hej med dig

#EASY ADMIN
set ea_LanguageName "en"                # set our language to english
set ea_MenuButton "57"            # set our menu button to F2. default: "289"
set ea_alwaysShowButtons "false"    # we don't want to see buttons we can't even access, do we? default: "false"
set ea_moderationNotification "false"   # this can be either "false" or a discord webhook address, this will send a discord message if an admin takes actions against a player  ( such as banning and kicking )
set ea_custombanlist "false"            # read docs for this, dont touch it


add_ace ea.admin easyadmin.kick allow                # allow kicking
add_ace ea.admin easyadmin.spectate allow            # allow spectating
add_ace ea.admin easyadmin.teleport allow            # allow teleportation 
add_ace ea.admin easyadmin.freeze allow                # allow freezing

#EasyAdmin admins, etc.
add_principal identifier. ea.admin     #Hej med dig
add_principal identifier.steam:110000110438748 ea.admin     #Mborg